<!DOCTYPE html>
<html>
  <head>
    <title>Text Eric something</title>
  </head>
  <body>
    <h1>Text Eric Something!!!</h1>
    <p><%= message %></p>
    <form method="post" action="/hello">
    </form>
    <form method="post" action="/sendSms">
    	<p>
    		<input name="message"></input>
    		<input class="button" type="submit" value="Send SMS"></input>
    	</p>
    </form>
  </body>
</html>
